<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pizzeria</title>
<div th:replace="~{fragment :: head}"></div>
</head>
<body>
<h1 class="text-center">LE NOSTRE PIZZE</h1>

	
	<table th:if="${elencopizzeria.size>0}" class="table table-dark table-borderless">
		<thead>
			<tr><th scope="col">#</th>
				<th scope="col">PIZZE</th>
				<th scope="col">PREZZO</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pizza : ${elencopizzeria}">
			<th th:text="${pizza.id}"></th>
			<th th:text="${pizza.name}"></th>
			<th th:text="${pizza.price} + ' EURO' "></th>
		</tbody>
	</table>

<div th:replace="~{fragment :: script}"></div>
</body>
</html>